<div class="header">
  <div class="container">
    <div class="header__navBar">
      <a href="#"><img src="../../assets/icons/logo.png" width="221" height="74"></a>
      <ul>
        <li><a class="scrollto" routerLink="**" href="#work">Работа</a></li>
        <li><a class="scrollto" href="#tours">Туры</a></li>
        <li><a class="scrollto" href="#about">О нас</a></li>
        <li><a class="scrollto" href="#reviews">Отзывы</a></li>
        <li><a class="scrollto" href="#contacts">Контакты</a></li>
      </ul>
    </div>
    <div class="header__authorization">
      <img src="../../assets/icons/icon-account.svg" alt="image-auth" width="45" height="45">
      <span class="line-animation"><a style="color: black; " class="header__authorization_log"
                                      routerLink="Auth">{{activeUser === null ? 'Войти' : activeUser.login}}</a></span>

      <span *ngIf="activeUser !== null" (click)="exit()">Выйти</span>
    </div>
    <ul class="header__social-networks">
      <li class="header__social-networks_item">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../../assets/icons/facebook-header.svg" width="42" height="42">
        </a>
      </li>
      <li class="header__social-networks_item">
        <a href="https://twitter.com/" target="_blank">
          <img src="../../assets/icons/twitter-header.svg" width="38" height="38">
        </a>
      </li>
      <li class="header__social-networks_item">
        <a href="https://www.youtube.com/" target="_blank">
          <svg class="header-youtube-red" width="42" height="42" viewBox="0 0 32 24" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.0096 23.1022H15.9779C15.8798 23.1022 6.05834 23.0832 3.58042 22.4103C2.21784 22.0432 1.15372 20.9785 0.787422 19.6157C0.341837 17.1019 0.126666 14.5527 0.144588 11.9998C0.133076 9.44278 0.354069 6.88996 0.804838 4.37292C1.18121 3.0089 2.24065 1.93926 3.601 1.54984C6.01084 0.916504 15.5615 0.916504 15.9668 0.916504H16.0001C16.0998 0.916504 25.9466 0.935504 28.3992 1.60842C29.7589 1.97735 30.8208 3.03991 31.189 4.39984C31.6488 6.92294 31.8646 9.48445 31.8334 12.0489C31.8445 14.6029 31.623 17.1526 31.1716 19.6663C30.8006 21.0274 29.7358 22.0898 28.3738 22.4578C25.9672 23.0958 16.4149 23.1022 16.0096 23.1022ZM12.8429 7.25775L12.835 16.7578L21.0873 12.0078L12.8429 7.25775Z"
              fill="#fff"/>
          </svg>
        </a>
      </li>
    </ul>
    <div class="header__title">
      <h1 class="header__title_1" style="background: rgba(53, 106, 216, 0.5);">
        Лучшие путешествия по Беларуси
      </h1>
      <h1 class="header__title_2" style="background: rgba(53, 106, 216, 0.5);">
        начинаются с нас
      </h1>
    </div>
    <div class="header__filter-search">
      <div class="header__filter-search_date">
        Дата
        <img src="../../assets/icons/arrow-bottom.png" width="30" height="30">
      </div>
      <div class="header__filter-search_price">
        Ваш Ценовой Диапозон
        <img src="../../assets/icons/arrow-bottom.png" width="30" height="30">
      </div>
      <div class="header__filter-search_tours">
        Поиск тура
      </div>
    </div>
  </div>
</div>
