<div class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <ul class="footer__accurate-information">
                <li class="footer__accurate-information_item">
                    <h1>20</h1>
                    <p>Туров</p>
                </li>
                <li class="footer__accurate-information_item">
                    <h1>72</h1>
                    <p>Регулярных экскурсий<br>
                        и маршрутов</p>
                </li>
                <li class="footer__accurate-information_item">
                    <h1>1674</h1>
                    <p>Положительных отзывов<br> 
                        довольных клиентов</p>
                </li>
                <li class="footer__accurate-information_item">
                    <h1>10</h1>
                    <p>Лет опыта в туризме</p>
                </li>
            </ul>
            <ul class="footer__twitter-feed">
                <li class="footer__twitter-feed_item">
                    <h1>Лента Твиттера</h1>
                </li>
                <li class="footer__twitter-feed_item">
                    <img src="../../assets/icons/coolicon.svg">
                    <a><h2>50 профессиональных<br> 
                        шаблонов,<br> 
                        как #Photoshop Designs<br>
                        - https://goo.gl/zynQiY</h2></a>                    
                </li>
                <li class="footer__twitter-feed_item">
                    <img src="../../assets/icons/coolicon.svg">
                    <a href="#"><h2>50 профессиональных<br> 
                        шаблонов,<br> 
                        как #Photoshop Designs<br>
                        - https://goo.gl/zynQiY</h2></a>
                </li>
                <li class="footer__twitter-feed_item">
                    <img src="../../assets/icons/coolicon.svg">
                    <a> <h2>50 профессиональных<br>
                        шаблонов,<br>
                        как #Photoshop Designs<br>
                        - https://goo.gl/zynQiY</h2></a>
                </li>
            </ul>
            <ul class="footer__about">
                <li class="footer__about_item">
                    <h1>О нас</h1>
                </li>
                <li class="footer__about_item">
                    <p>Основанный в 2011 году,<br> 
                        БелТур предлагает<br> 
                        путешественникам большой<br> 
                        выбор туров и экскурсий по Беларуси.<br> 
                        Исследуйте лучшие и еще<br> 
                        неизведанные места этого<br> 
                        захватывающего северно-западного<br>
                         направления.</p>
                </li>
                <li class="footer__about_item">
                    <h1>Социальные сети</h1>
                </li>
                <li class="footer__about_item">
                    <p>Следите за еженедельными новостями<br> 
                        и обновлениями БелТур. </p>
                </li>
                <ul class="footer__about-social-networks">
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/facebook.svg"></a>
                    </li>
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/twiiter.svg"></a>
                    </li>
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/youtube.svg"></a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
