<div id="contacts" class="contacts">
    <div class="container">
        <ul class="contacts__connection">
            <li>
                <h1 class="contacts__connection_title">Связаться</h1>
            </li>
            <li>
                <input type="text" size="30" placeholder="Name">
            </li>
            <li>
                <input type="text" size="30" placeholder="E-mail">
            </li>
            <li>
                <textarea class="text-input" type="text" placeholder="Message"></textarea>
            </li>
            <li>
                <div class="contacts__connection_button">Отправить</div>
            </li>
        </ul>
        <ul class="contacts__information">
            <li>
                <h1 class="contacts__information_title">Контактная информация</h1>
            </li>
            <li class="contacts__information_container">
                <img src="../../assets/icons/phone.svg" width="60" height="60">
                <h1 class="contacts__information_number">+375-33-392-90-42</h1>
            </li>
            <li class="contacts__information_container">
                <img src="../../assets/icons/mail.svg" width="80" height="64">
                <h1 class="contacts__information_email">info@dimalink.org</h1>
            </li>
            <li>
                <ul class="contacts__information-social-networks">
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/contacts/face.svg"></a>
                    </li>
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/contacts/twit.svg"></a>
                    </li>
                    <li class="social-networks-item">
                        <a href=""><img src="../../assets/icons/contacts/you.svg"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="decorative-images">
    <img src="../../assets/images/decorative-images/Group 27.jpg" width="381" alt="">
    <img src="../../assets/images/decorative-images/Group 26.jpg" width="381" alt="">
    <img src="../../assets/images/decorative-images/8b42a2d5abd4e601bcd080207f5e72c2 1.jpg" width="381" alt="">
    <img src="../../assets/images/decorative-images/78db95fabc189bc2f813be814a2e8692 1.jpg" width="382" alt="">
    <img src="../../assets/images/decorative-images/2d2a6336329da3931d07955a2cf225b4 1.jpg" width="381" alt="">
</div>
