<div class="gallery-tours">
    <div class="container">
       <p class="gallery-tours__title">Наша галерея</p>
       <p class="gallery-tours__title-2">Посмотрите на Беларусь нашими глазами,<br> 
        когда мы запечатляем<br> 
        природу, культуру и повседневную жизнь</p>
       <p class="gallery-tours__title-3">Взгляните на нашу галерею,<br> 
        в которой представлены лучшие моменты наших туров и экскурсий.</p>
        <a><div class="gallery-tours__button">
            Посмотреть галерею
        </div></a>
        <div style="padding-top: 70px;"></div>
    </div>
</div>
