<div class="partners">
    <div class="container">
        <div class="partners__logos">
            <img src="../../assets/images/partners/1.png" width="160" height="124" alt="">
            <img src="../../assets/images/partners/2.png" width="113" height="113" alt="">
            <img src="../../assets/images/partners/3.png" width="150" height="136" alt="">
            <img src="../../assets/images/partners/4.png" width="120" height="120" alt="">
            <img src="../../assets/images/partners/5.png" width="176" height="116" alt="">
        </div>
    </div>
</div>
