<div class="reviews">
    <div class="container">
        <h1 id="reviews" class="reviews__title">Отзывы</h1>
        <ul class="reviews__main">
            <li class="reviews__main_item">
                <div class="reviews__main_item-image-circle">
                    <img class="reviews__main_item-image" src="../../assets/icons/avatar.png">
                </div>
                <div class="reviews__main_item-title">Дима Шатовицкий
                </div>
                <div class="reviews__main_item-subtitle">Regular Client</div>
            
                <div class="reviews__main_item-text">
                    Я просто хотел поделиться как мне нравится работать с БелТур. У вас есть отличные люди, которые работают над тем, чтобы сделать зимнее путешествие максимально незабываемым. Спасибо.
                </div>                
            </li>
            <li class="reviews__main_item">
                <div class="reviews__main_item-image-circle">
                    <img class="reviews__main_item-image" src="../../assets/icons/avatar.png">
                </div>
                <div class="reviews__main_item-title">Андрей Фурункул</div>
                <div class="reviews__main_item-subtitle">Regular Client</div>
                <div class="reviews__main_item-text">
                    Я просто хотел поделиться как мне нравится работать с БелТур. У вас есть отличные люди, которые работают над тем, чтобы сделать зимнее путешествие максимально незабываемым. Спасибо.
                </div>
            </li>
            <li class="reviews__main_item">
                <div class="reviews__main_item-image-circle">
                    <img class="reviews__main_item-image" src="../../assets/icons/avatar.png">
                </div>
                <div class="reviews__main_item-title">Кристина Якуш</div>
                <div class="reviews__main_item-subtitle">New Client</div>
                <div class="reviews__main_item-text">
                    Я просто хотел поделиться как мне нравится работать с БелТур. У вас есть отличные люди, которые работают над тем, чтобы сделать зимнее путешествие максимально незабываемым. Спасибо.
                </div>                
            </li>
        </ul>

        <a id="work"><div class="reviews__button">
            Посмотреть все отзывы
        </div></a>
    </div>
</div>
