<div id="about" class="advantages">
    <div class="container">
        <h1 class="advantages__title">Наши преимущества</h1>
        <p class="advantages__subtitle">Вы можете положиться на наш опыт и качество предоставляемых<br> 
            нами услуг. Вот и другие причины для бронирования туров в БелТур.</p>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__list-item_block">
                    <div class="advantages__list-item_circle">
                        <img src="../../assets/icons/advantages/happy.svg" width="54px" height="54px">
                    </div>
                    <h3>Низкие цены</h3>
                </div>
                
            </li>
            <li class="advantages__list-item">
                <div class="advantages__list-item_block">
                    <div class="advantages__list-item_circle">
                        <img style="padding-left: 15px;" src="../../assets/icons/advantages/list_check.svg" width="68px" height="68px">
                    </div>
                    <h3>Разнообразие<br>туров</h3>
                </div>
                
            </li>
            <li class="advantages__list-item">
                <div class="advantages__list-item_block">
                    <div class="advantages__list-item_circle">
                        <img style="padding-top: 8px" src="../../assets/icons/advantages/alarm.svg" width="58px" height="58px">
                    </div>
                    <h3>Лёгкое бронирование</h3>
                </div>
                
            </li>
            <li class="advantages__list-item">
                <div class="advantages__list-item_block">
                    <div class="advantages__list-item_circle">
                        <img style="padding-top: 8px" src="../../assets/icons/advantages/Sketch.svg" width="64px" height="64px">
                    </div>
                    <h3>Самое популярное агенство</h3>
                </div>
                
            </li>
        </ul>
    </div>
    <div class="advantages__information">
        <div class="container">
        <ul class="advantages__information_clients">
            <li>
                <img src="../../assets/icons/advantages/Vector.svg" width="46px" height="46px">
                <p style="padding-top: 4px;" class="advantages__information_title">0.75M</p>
                <p class="advantages__information_subtitle">Счастливых клиентов</p>
            </li>
            <li>
                <img src="../../assets/icons/advantages/Vector2.svg" width="40px" height="38px">
                <p style="padding-top: 10px;" class="advantages__information_title">20</p>
                <p style="padding-top: 2px;" class="advantages__information_subtitle">Удивительных туров</p>
            </li>
            <li>
                <img src="../../assets/icons/advantages/chat.svg" width="40px" height="40px">
                <p style="padding-top: 6px;"class="advantages__information_title">1К</p>
                <p style="padding-top: 4px;"class="advantages__information_subtitle">Ответов на вопросы</p>
            </li>
        </ul>
    </div>
    </div>
</div>
