@import "assets/styles/reset.scss";
@import "assets/styles/fonts.scss";
@import "assets/styles/variables.scss";


.ds {
  font-size: 46px;
  font-family: $font-light;

}

body {
  font-family: $font-light;
  background-color: $main-background-color;
  color: $text-b-color;
}


