@import "fonts.scss";

$font-logo: Lato-ExtraBold;
$font-h1: Lato-Bold;
$font-light: Lato-Light;
$font-h2: Lato-Regular;
$font-h3: Lato-Medium;
$font-h4: Lato-SemiBold;
$font-h5: Roboto-Regular;
$font-button: Nunito-SemiBold;

$main-background-color:white;
$text-b-color: #29293A;
$text-w-color: #FFFFFF;
$button-blue-color: #356AD8;
$footer-background-color: #1F1F21;



