<app-main-header></app-main-header>


<div class="detailed-tour">
    <div class="detailed-tour__title">
        <div class="container">
        <h1 class="detailed-tour__name">
         <!--   «БЕЛОРУССКИЙ КАЛЕЙДОСКОП»-->{{tour.title}}</h1>
        <h1 class="detailed-tour__terms">
            {{tour.duration}}</h1>
        <div class="detailed-tour__line"></div>
        <div class="detailed-tour__path">
          {{tour.route}}
        </div>
    </div>
    </div>
    <ul class="detailed-tour__list">
        <li class="detailed-tour__list-tour">
            <div class="detailed-tour__information">
                <h1 class="detailed-tour__information_day">
                    1 ДЕНЬ</h1>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    Прибытие группы в Минск, встреча и знакомство с гидом в
                    аэропорту. Трансфер в отель «Орбита» 3*. Заселение в номера.</p>
                <p style="padding-top:40px"class="detailed-tour__information_text">
                    Отправление на обзорную экскурсию по Минску, знакомство с основными достопримечательностями города и особенностями его исторической застройки, осмотр старинных городских кварталов и современных районов белорусской столицы. По желанию (за доплату) — посещение галереи «Славутыя майстры»*, знакомство с белорусскими ремеслами, участие в мастер-классах, возможность приобрести оригинальные сувениры на память.
                </p>
                <p style="padding-top:24px" class="detailed-tour__information_text">
                   <b>Ночлег в отеле.</b>
                </p>
            </div>
            <div class="detailed-tour__images-other">
                <img class="detailed-tour__images-other_img" src="../../assets/images//sokr-nac/th.svg" width="596" height="381">
                <div class="detailed-tour__images-other_text">
                    Обед*. Свободное время. По желанию возможна организация экскурсий в музеи города или посещение одного из театров Минска.
                </div>
            </div>
        </li>
        <div class="decorative-line"></div>
        <li style="flex-direction: row-reverse; justify-content:space-between" class="detailed-tour__list-tour">
            <div style="padding-left: 60px;" class="detailed-tour__information">
                <h1 class="detailed-tour__information_day">
                    2 ДЕНЬ</h1>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    <b>Завтрак.</b>
                </p>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    Переезд в Мир — местечко, где на протяжении столетий переплетались судьбы, культура и
                    быт белорусов, поляков, евреев, цыган и татар, устраивались зрелищные
                    рыцарские поединки, пышные гуляния и шумные ярмарки, и где по сей день
                    витает дух ушедших эпох и вековых традиций. Обзорная экскурсия по историческому центру
                    Мира, осмотр Рыночной площади, Троицкой церкви, костела Святого Николая, старинной синагоги и
                    др. </p>
                <p style="padding-top:40px"class="detailed-tour__information_text">
                    Обед*. Переезд в Несвиж. Обзорная экскурсия по городу, осмотр знаменитых Слуцких ворот, богато декорированного фресковой живописью Фарного костела — первого в Восточной
                    Европе памятника в стиле барокко, старейшей в Беларуси Ратуши конца XVI-начала XVII вв. и др. Посещение (за доплату) дворцово-паркового комплекса
                    XVI-XVII вв. — прославленной резиденции князей Радзивиллов*, привлекающей не только эстетикой внутреннего и внешнего убранства, но и многочисленными легендами и мифами о своих именитых владельцах.
                </p>
                <p style="padding-top:48px" class="detailed-tour__information_text">
                   <b>Возвращение в Минск. Ночлег в отеле.</b>
                </p>
            </div>
            <div class="detailed-tour__images-other">
                <img class="detailed-tour__images-other_img" src="../../assets/images//sokr-nac/2.jpg" width="596" height="381">
                <img class="detailed-tour__images-other_img" src="../../assets/images//sokr-nac/4.jpg" width="596" height="381">
            </div>
        </li>
        <div class="decorative-line"></div>
        <li class="detailed-tour__list-tour">
            <div class="detailed-tour__information">
                <h1 class="detailed-tour__information_day">
                    3 ДЕНЬ</h1>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    <b>Прибытие группы в Минск</b>, встреча и знакомство с гидом в
                    аэропорту. <b>Трансфер в отель «Орбита» 3*. Заселение в номера.</b></p>
                <p style="padding-top:40px"class="detailed-tour__information_text">
                    Отправление на обзорную экскурсию по Минску, знакомство с основными достопримечательностями города и особенностями его исторической застройки, осмотр старинных
                    городских кварталов и современных районов белорусской столицы. По желанию (за доплату) — посещение галереи «Славутыя майстры»*, знакомство с белорусскими ремеслами, участие в мастер-классах, возможность приобрести оригинальные сувениры на память.
                </p>
                <p style="padding-top:24px" class="detailed-tour__information_text">
                   <b>Ночлег в отеле.</b>
                </p>
            </div>
            <div class="detailed-tour__images-other">
                <img class="detailed-tour__images-other_img" src="../../assets/images//sokr-nac/5.svg" width="596" height="381">
            </div>
        </li>
        <div class="decorative-line"></div>
        <li style="flex-direction: row-reverse; justify-content:space-between" class="detailed-tour__list-tour">
            <div style="padding-left: 60px;" class="detailed-tour__information">
                <h1 class="detailed-tour__information_day">
                    4 ДЕНЬ</h1>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    <b>Завтрак.</b>
                </p>
                <p style="padding-top:29px" class="detailed-tour__information_text">
                    Переезд в Мир — местечко, где на протяжении столетий переплетались судьбы, культура и
                    быт белорусов, поляков, евреев, цыган и татар, устраивались зрелищные
                    рыцарские поединки, пышные гуляния и шумные ярмарки, и где по сей день
                    витает дух ушедших эпох и вековых традиций. Обзорная экскурсия по историческому центру
                    Мира, осмотр Рыночной площади, Троицкой церкви, костела Святого Николая, старинной синагоги и
                    др. </p>
                <p style="padding-top:40px"class="detailed-tour__information_text">
                    <b>Обед*. Переезд в Несвиж.</b> Обзорная экскурсия по городу, осмотр знаменитых Слуцких ворот, богато декорированного фресковой живописью Фарного костела — первого в Восточной
                    Европе памятника в стиле барокко, старейшей в Беларуси Ратуши конца XVI-начала XVII вв. и др. Посещение (за доплату) дворцово-паркового комплекса
                    XVI-XVII вв. — прославленной <b>резиденции князей Радзивиллов*</b>, привлекающей не только эстетикой внутреннего и внешнего убранства, но и многочисленными легендами и мифами о своих именитых владельцах.
                </p>
                <p style="padding-top:48px" class="detailed-tour__information_text">
                    Возвращение в Минск. По дороге — остановка в местечке Мурованка, где ввысь устремляются нарядно украшенные башни выдающегося памятника белорусской архитектуры — церкви-крепости в честь
                    Рождества Пресвятой Богородицы. Возвращение в Минск. По дороге — остановка в местечке Мурованка, где ввысь устремляются нарядно украшенные башни выдающегося памятника белорусской архитектуры — церкви-крепости в честь
                    Рождества Пресвятой Богородицы. Осмотр святыни, знакомство с ее историей. Возвращение в Минск. По дороге — остановка в местечке Мурованка,
                    Рождества Пресвятой Богородицы. Возвращение в Минск. По дороге — остановка в местечке Мурованка, где ввысь устремляются нарядно украшенные где ввысь устремляюка — церкви-крепости в честь
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusantium ipsum quae modi dolor consequatur eveniet praesentium? Ea amet, dolor eius delectus eum odio ad alias! Enim dignissimos nulla tempore! Рождества Пресвятой Богородицы. Осмотр святыни, знакомство с ее историей. Время для фотосессии.  Время для фотосессии.  Осмотр святыни, знакомство с ее историей. Время для фотосессии.
                </p>
            </div>
            <div class="detailed-tour__images-other">
                <img class="detailed-tour__images-other_img" src="../../assets/images//sokr-nac/6.svg" width="596" height="1195">
            </div>
        </li>


    </ul>
    <div class="container">
    <a><div class="detailed-tour__like-button" routerLink= "All-Tours">
        Добавить в избранное
    </div></a>
    </div>
    <ul class="detailed-tour__about-guide">
        <li class="detailed-tour__about-guide_item1">
            <div class="detailed-tour__about-guide_item1_circle">
                <img class="detailed-tour__about-guide_item1_image" src="../../assets/icons/avatar.png">
            </div>
            <h4>Лилия</h4>
            <h3>Главный гид тура «БЕЛОРУССКИЙ КАЛЕЙДОСКОП»</h3>
        </li>
        <li class="detailed-tour__about-guide_item2">
            <h4><b>О гиде</b></h4>
            <h3>Добрый день, дорогие друзья! Меня зовут Лилия, я родилась и выросла в Минске. Работаю гидом более 15 лет, и за это время побывала во всех уголках нашего замечательного региона. С радостью покажу вам его главные достопримечательности и тайные места. Я работаю вместе с
                моими друзьями-гидами на протяжении многих лет.
            </h3>
        </li>
    </ul>
    <h1 class="detailed-tour__review">Отзывы о путешествии</h1>
    <ul class="detailed-tour__reviews-tour">
        <li class="detailed-tour__reviews-tour_item">
        <div class="container-with-person">
            <div class="detailed-tour__reviews-tour_circle">
                <img class="detailed-tour__reviews-tour_img" src="../../assets/icons/avatar.png">
            </div>
            <h1>Ропот</h1>
            <h5>20 ноября 2021</h5>
        </div>
            <p>Экскурсия очень понравилась. Лилия замечательно
                провела экскурсию, мы узнали много интересного.
                После ее экскурсии захотелось остаться жить в этом городе.
                Рекомендуем ее как опытного гида и интересного собеседника.</p>
        </li>
        <li class="detailed-tour__reviews-tour_item">
            <div class="container-with-person">
                <div class="detailed-tour__reviews-tour_circle">
                    <img class="detailed-tour__reviews-tour_img" src="../../assets/icons/avatar.png">
                </div>
                <h1>Ропот</h1>
                <h5>20 ноября 2021</h5>
            </div>
                <p>Экскурсия очень понравилась. Лилия замечательно
                    провела экскурсию, мы узнали много интересного.
                    После ее экскурсии захотелось остаться жить в этом городе.
                    Рекомендуем ее как опытного гида и интересного собеседника.</p>
        </li>
        <li class="detailed-tour__reviews-tour_item" *ngFor="let comment of comments">
                <div class="container-with-person">
                    <div class="detailed-tour__reviews-tour_circle">
                        <img class="detailed-tour__reviews-tour_img" src="../../assets/icons/avatar.png">
                    </div>
                    <h1>{{comment.username}}</h1>
                    <h5>{{comment.date}}</h5>
                </div>
                    <p>{{comment.content}}</p>
        </li>
    </ul>
    <fieldset>
        <textarea #comment style="height:200px; text-indent: 14px; padding-top: 10px; width:395px; margin-top:60px; margin-left:740px;" class="text-input" type="text" placeholder="Напишите отзыв"></textarea>
    </fieldset>
    <a><div class="detailed-tour__other-tours" (click)="send(comment.value)" >
        Отправить
    </div></a>

</div>
