@font-face {
  font-family: Lato-ExtraBold;
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/lato-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/lato-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato-SemiBold;
  src: url("../fonts/lato-semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Lato-Medium;
  src: url("../fonts/lato-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
.detailed-tour__about-guide_item1_circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  border: 1px #7777 solid;
}
.detailed-tour__about-guide_item1_circle .detailed-tour__about-guide_item1_image {
  padding: 10px;
}

.detailed-tour__like-button {
  margin-top: 15px;
  margin-bottom: 66px;
  margin-left: 434px;
  margin-right: auto;
  cursor: pointer;
  font-family: Nunito-SemiBold;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  height: 62px;
  width: 305px;
  background: #356AD8;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}
.detailed-tour__other-tours {
  margin-top: 50px;
  margin-bottom: 62px;
  margin-left: 740px;
  margin-right: auto;
  cursor: pointer;
  font-family: Nunito-SemiBold;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  height: 62px;
  width: 395px;
  background: #356AD8;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}
.detailed-tour__review {
  padding-bottom: 63px;
  padding-top: 63px;
  font-size: 58px;
  font-family: Lato-Bold;
  text-align: center;
}
.detailed-tour__title {
  padding-top: 29px;
  padding-bottom: 21px;
  text-align: center;
  background-color: #F7F7F7;
}
.detailed-tour__title .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailed-tour__reviews-tour {
  background-color: #F7F7F7;
}
.detailed-tour__reviews-tour_item {
  padding-top: 81px;
  padding-left: 78px;
  padding-right: 141px;
  padding-bottom: 78px;
}
.detailed-tour__reviews-tour_item p {
  padding-top: 35px;
  font-size: 36px;
}
.detailed-tour__reviews-tour_item .container-with-person {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.detailed-tour__reviews-tour_item .container-with-person h1 {
  font-size: 36px;
  font-family: Lato-Bold;
  margin-left: -120px;
}
.detailed-tour__reviews-tour_item .container-with-person h5 {
  padding-left: 1181px;
}
.detailed-tour__name {
  font-family: Lato-Bold;
  padding-top: 22px;
  font-size: 42px;
  line-height: 50px;
  color: #000000;
}
.detailed-tour__terms {
  font-family: Lato-Bold;
  padding-top: 17px;
  font-size: 42px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 18px;
}
.detailed-tour__line {
  width: 100px;
  height: 16px;
  background: #356AD8;
}
.detailed-tour__path {
  font-family: Lato-Medium;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  padding-top: 23px;
}
.detailed-tour__list .decorative-line {
  max-width: 1920px;
  height: 3px;
  background: rgba(0, 0, 0, 0.4);
}
.detailed-tour__list .detailed-tour__list-tour {
  padding-top: 61px;
  padding-left: 84px;
  padding-right: 90px;
  padding-bottom: 66px;
  display: flex;
  flex-direction: row;
}
.detailed-tour__list .detailed-tour__list-tour .detailed-tour__information {
  padding-right: 60px;
}
.detailed-tour__list .detailed-tour__list-tour .detailed-tour__information_day {
  font-family: Lato-Bold;
  font-weight: 800;
  font-size: 34px;
  line-height: 53px;
}
.detailed-tour__list .detailed-tour__list-tour .detailed-tour__information_text {
  font-size: 26px;
  line-height: 33px;
  font-family: Lato-Medium;
}
.detailed-tour__list .detailed-tour__list-tour .detailed-tour__images-other_img:nth-child(1) {
  padding-bottom: 15px;
}
.detailed-tour__list .detailed-tour__list-tour .detailed-tour__images-other_text {
  padding-top: 22px;
  font-size: 26px;
  line-height: 33px;
  font-family: Lato-Medium;
}
.detailed-tour__about-guide {
  padding-top: 47px;
  display: flex;
  align-items: center;
  padding-left: 72px;
  padding-right: 118px;
  padding-bottom: 48px;
  background: rgba(53, 106, 216, 0.2);
}
.detailed-tour__about-guide .detailed-tour__about-guide_item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.detailed-tour__about-guide .detailed-tour__about-guide_item1 h4 {
  font-family: Lato-SemiBold;
  font-size: 28px;
}
.detailed-tour__about-guide .detailed-tour__about-guide_item1 h3 {
  font-size: 18px;
  font-family: Lato-Medium;
}
.detailed-tour__about-guide .detailed-tour__about-guide_item2 {
  padding-left: 100px;
}
.detailed-tour__about-guide .detailed-tour__about-guide_item2 h4 {
  padding-bottom: 8px;
  font-family: Lato-SemiBold;
  font-size: 36px;
}
.detailed-tour__about-guide .detailed-tour__about-guide_item2 h3 {
  font-size: 26px;
  font-family: Lato-Medium;
}

/*# sourceMappingURL=detailed-tour.component.css.map */
